<nav class="navbar navbar-expand-sm navbar-dark bg-black">
  <div class="container-fluid h-100">
    <div class="col align-self-start ps-0 h-100">
      <a
        class="navbar-brand nav-link active p-0 m-0 h-100"
        [routerLink]="['/']"
      >
        <img class="img-fluid h-100" src="assets\APSoloLogo.png" alt="LogoAp" />
      </a>
    </div>
    <div class="col d-flex justify-content-end text-light">
      <app-social-nav></app-social-nav>
      <app-login></app-login>
    </div>
  </div>
</nav>
