/* // $light: whitesmoke;
// $theme-colors: (
//   "light":      $light
// );
// @import '../node_modules/bootstrap/scss/bootstrap' */
/* You can add global styles to this file, and also import other style files */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}
