<nav class="d-flex justify-content-center align-items-center ">
  <ul class="d-flex justify-content-center align-items-center mb-0">
    <li class="px-1">
      <a
        href="https://www.linkedin.com/in/paula-druetta-06466b1a7/"
        target="_blank"
        class=" d-flex fs-2"
      >
        <fa-icon [icon]="faLinkedin"></fa-icon>
      </a>
    </li>
    <li class="px-1">
      <a
        href="https://github.com/pauladruetta"
        target="_blank"
        class=" d-flex fs-2"
      >
        <fa-icon [icon]="faGithub"></fa-icon>
      </a>
    </li>
  </ul>
</nav>
